<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68965189012-ok7ildeqvmmal92q8lu0ji0ini6j6m78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68965189012-ok7ildeqvmmal92q8lu0ji0ini6j6m78</string>
	<key>API_KEY</key>
	<string>AIzaSyAiWTzKIOxN0dtCznAeWQ6T0yqfGp0Jlt8</string>
	<key>GCM_SENDER_ID</key>
	<string>68965189012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.keypetApp</string>
	<key>PROJECT_ID</key>
	<string>porochi-app-b37af</string>
	<key>STORAGE_BUCKET</key>
	<string>porochi-app-b37af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68965189012:ios:88e5d6e97a9d3197253b81</string>
</dict>
</plist>